<!DOCTYPE html>
<html lang="en">
  <body>
  <h1>Positions</h1>
  <ul>
    <% @positions.each do |position| %>
    <li><%= position %></li>
    <%end%>
  </ul>
  </body>
</html>













































<!-- <!DOCTYPE html>
<html lang="en">


  <body>
    <h1>LACKP Kickball Positions</h1>

    <ul>
      <li>First Base</li>
      <li>Second Base</li>
      <li>Third Base</li>
      <li>Catcher</li>
      <li>Center Field</li>
      <li>Pitcher</li>
      <li>Right Field</li>
      <li>Left Field</li>
      <li>Short Stop</li>
      
    </ul>

  </body>
</html>