<!DOCTYPE html>
<html lang="en">
  <body>
  <h1>Teams</h1>
  <ul>
    <% @teams.each do |team| %>
    <li><a href="/teams/<%team%>"><%= team %></a></li>
    <%end%>
  </ul>
  </body>
</html>






































<!-- <!DOCTYPE html>
<html lang="en">


  <body>
    <h1> <%= @team %> </h1>

    <ol>
      <li>Simpson Slammers</li>
      <li>Jetson Jets</li>
      <li>Flinestone Fire</li>
      <li>Griffin Goats</li>
      <li>Positions</li>
    </ol>
    
  </body>
</html> -->